* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.slider-wrap {
    position: relative;
    margin: 50px auto;
    width: 520px;
}

.slider {
    position: relative;
    width: 450px;
    margin: auto;
}

.slider li {
    text-align: center;
}

ul li span {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    background: black;
}

.slider-arrow {
    position: absolute;
    top: 40px;
    width: 20px;
    height: 20px;
    background: black;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}

.sa-left {
    left: 10px;
}

.sa-right {
    right: 10px;
}

.black {
    background: black;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.yellow {
    background: yellow;
}

.layout {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.custom-slider-wrap {
    position: relative;
}

.customslider li {
    padding: 15px;
}

.customslider figure {
    display: block;
}

.customslider figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.customslider figcaption {
    text-align: center;
    display: block
}

.nav-button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 40%;
    cursor: pointer
}

.nav-button i {
    position: relative;
    display: block;
}

.nav-button i:after,
.nav-button i:before {
    content: "";
    top: 40%;
    position: absolute;
    left: 0;
    top: 0;
}

.nav-button.left {
    left: -40px;
}

.nav-button.right {
    right: -40px
}

.nav-button.left i:after,
.nav-button.left i:before {
    border-right: 15px solid #000;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.nav-button.right i:after,
.nav-button.right i:before {
    border-left: 15px solid #000;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

@media(max-width: 767px){
    .layout { padding: 0 40px; }
}