*{margin:0;padding:0;box-sizing: border-box}
ul{list-style: none;}
.layout {
    max-width:960px;
    width: 100%;
    margin:0 auto;
}
.slider-wrap { position: relative;}
.slider li {float: left;width:200px;/*margin-right: 30px;*/padding: 20px;}
/*.slider li:nth-child(3n) {margin-right: 0;}*/
.slider figure { width:100%;height: 200px;display: block;}
.slider figure img { width:100%;height: 100%;object-fit: cover;}
.slider figcaption { dispaly:block; margin-top:10px;text-align: center; }
.slider-arrow {
    position: absolute;
    top: 40px;
    width: 20px;
    height: 20px;
    background: black;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    top:30%;

}
.sa-left { left:-50px;}
.sa-right { right: -50px;}


