* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1024px;
    margin: 20px auto;
    width: 100%;
    border: 1px solid #ccc;
    min-height: 200px;
    padding: 20px;
}


h1{color: red;}