﻿.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

body {
  position: relative;
  width: 960px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
}
