body{
    background-color: #071358;
}

.mapdiv{
    width:60%;
    height:90%;
    margin: auto;
}


.mapdiv :hover {
    fill:#f7fbff;
}


.land {
    fill: #ff9933;
    fill-opacity: 1;
    stroke: #283747;
    stroke-opacity: 1;
    stroke-width: 1px;
    transition: fill 0.3s;
     width:60%;
    height:90%;
    margin: auto;
}
.bjp {
    fill: #ff9933;
    fill-opacity: 1;
    stroke: #283747;
    stroke-opacity: 1;
    stroke-width: 1px;
    transition: fill 0.3s;
    width:auto;
    Height:auto;
    margin: auto;
}
.cong {
    fill: #3399ff;
    fill-opacity: 1;
    stroke: #283747;
    stroke-opacity: 1;
    stroke-width: 1px;
    transition: fill 0.3s;
    width:auto;
    Height:auto;
    margin: auto;
}

.oth {
    fill: #808080;
    fill-opacity: 1;
    stroke: #283747;
    stroke-opacity: 1;
    stroke-width: 1px;
    transition: fill 0.3s;
    width:auto;
    Height:auto;
    margin: auto;
}
.bsp {
    fill: #00ff21;
    fill-opacity: 1;
    stroke: #283747;
    stroke-opacity: 1;
    stroke-width: 1px;
    transition: fill 0.3s;
    width:auto;
    Height:auto;
    margin: auto;
}

.trs {
    fill: #0d6b0f;
    fill-opacity: 1;
    stroke: #283747;
    stroke-opacity: 1;
    stroke-width: 1px;
    transition: fill 0.3s;
    width:auto;
    Height:auto;
    margin: auto;
}

.clearMap {
    fill: #00ff21;
    fill-opacity: 1;
    stroke: #283747;
    stroke-opacity: 1;
    stroke-width: 1px;
    transition: fill 0.3s;
    width:auto;
    Height:auto;
    margin: auto;
}

#RJ_DIV #Flächen polygon.oth{
        cursor:pointer;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
        z-index:1;
    }
/*  #RJ_DIV #Flächen polygon.oth:hover{
        z-index:2;
        fill: #70efc9;
        stroke: #33a1ab;
        box-shadow: 0px 0px 5% #000000;
        z-index: 200;
        position:absolute;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.1);
        transition: all 200ms ease-in;
        transform: scale(1.1);
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
    }*/
    #Ränder{
        display:none;
    }
    #äußerer_Rand{
        display:none;
    }