$bg-color: #401d61;
$bg-white: #fff;
$header-color: #47276c;
$next-color: #009ee5;
$dream-border: #009be2;
$contest-border: #47276c;
$list-box: #30194d;
$sign-in: #9491a9;
$sign-in-active: $bg-white;
$sign-in-bg: #402362;
$form-label: #acaebf;
$otp-btn-color: #7e6599;
$form-field-bg-color: #341c51;
$menu-open-bg: #2b1846;
$user-page-bg: #382057;
$user-text-color: #acaebf;
$player-select-bg: #412363;
$success-box: #311850;
$suggestion-box-bg: #241439;
