.dt-cont{
  border:2px solid $dream-border;
  height: 150px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  img{
    position: absolute;
    right: -10px;
    bottom: -38px;
  }
}
.drem-txt{
  font-size: 1.25;
  color: $bg-white;
  margin-left: 15px;
  h2{
    font-size: inherit;
    font-family: 'bebas_neuebook';
    font-weight: normal;
  }
  h3{
    font-size: inherit;
    font-family: 'bebasregular';
    font-weight: normal;
    word-spacing: 2px;
  }
}

.userpage{
  background: $user-page-bg;
  font-family: 'bebas_neueregular';
  margin-bottom: 30px;
  p{
    color: $user-text-color;
    font-size: .9em;
  }
  h2,h3{
    color: $bg-white;
    line-height: 1.3;
  }
  h2{
    font-size: 2em;
    font-family: 'bebas_neuelight';
  }
  h3{
    font-size: 1.7em;
    font-family: 'bebas_neuelight';
  }
}

.play-sc{
  background: $player-select-bg;
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 0px 0px 29px rgba(0,0,0,.6);
  .otp-btn{
    margin-right: 20px;
  }
}
.future-player{
  position: relative;
  .search-btn{
    position: absolute;
    width: 50px;
    height: 32px;
    background: transparent;
    cursor: pointer;
    right: 0;
    top:0;
    border:none;
    &:focus{
      outline: none;
    }
    &:after,
    &:before{
      content: "";
      position: absolute;
    }
    &:before{
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 2px solid $otp-btn-color;
      right: 16px;
      top: 7px;
    }
    &:after{
      width: 3px;
      height: 8px;
      background: $otp-btn-color;
      transform: rotate(-50deg);
      top: 20px;
      right: 15px;
    }
  }
}
