header{
  position: relative;
  background: $header-color;
  padding: 20px 10px;
  box-shadow:0px 2px 6px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  .ham-cont {
    position: absolute;
    width: 26px;
    height: 14px;
    left: 10px;
    top: calc(50% - 9px);
    cursor: pointer;
  }
  h1{
    text-align: center;
    a{
      font-size: 1.5em;
      text-transform:uppercase;
      font-family: 'bebas_neuebold';
    }
    span{
      color:$next-color;
    }
  }
}

.ham-cont {
  .ham-menu{
    position: relative;
    width: 100%;
    height: 100%;
    span{
      position: absolute;
      width: 100%;
      height: 2px;
      background: $bg-white;
      left: 0;
      top:50%;
      &:after,
      &:before{
        content:"";
        width: 100%;
        height: 2px;
        background-color: inherit;
        position: absolute;
        left: 0;
      }
      &:before{
        top: -6px;
      }
      &:after{
        bottom: -6px;
        width: 80%;
      }
    }
  }
}
.navm-wrapper{
  background: $menu-open-bg;
  position: fixed;
  left: 0;
  top:0;
  width: 70%;
  height: 100%;
  z-index: 999;
  padding:70px 30px;
  box-sizing: border-box;
  transition: all .4s;
  left: -100%;
  visibility: hidden;
  &.side-open{
    left: 0;
    visibility: visible;
  }
  li{
    margin:0 0 40px;
    a {
      color: $bg-white;
      font-size: 1.3em;
      font-family: 'bebasregular';
      &.active,
      &:focus{
        color: $next-color;
      }
    }
  }
}
.close-btn-cont{
  text-align: right;
  position: relative;
  top: -50px;
  right: -10px;
  cursor: pointer;
}
.close-btn{
  width: 30px;
  height: 30px;
  position: relative;
  background: transparent;
  border:none;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &:after,
  &:before{
    content: "";
    position: absolute;
    right: 0;
    background: $bg-white;
    width: 100%;
    height: 2px;
  }
  &:before{
    transform: rotate(-45deg);
  }
  &:after{
    transform: rotate(45deg);
  }
}
