
.searched-player{
  display: block;
  border-radius: 8px;
  border:1px solid $otp-btn-color;
  font-size:1em;
  font-family: 'bebas_neuebold';
  color:$otp-btn-color;
  line-height: 1.4;
  margin: 15px 0;
  box-sizing:border-box;
  padding: 5px 10px;
  position: relative;
  &:after,
  &:before{
    width: 18px;
    height: 2px;
    content: "";
    position: absolute;
    right: 6px;
    top: 15px;
    background: $otp-btn-color;
  }
  &:after{
    transform: rotate(-45deg);
  }
  &:before{
    transform: rotate(45deg);
  }
}
