.success-cont{
  background: rgba(0,0,0,.6);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 15px;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transition: all .4s;
  &.success-visible{
    visibility: visible;
    opacity: 1;
  }
}
.success-box{
  text-align: center;
  width: 100%;
  background: $success-box;
  align-self: center;
  padding: 30px;
  box-shadow: -5px -4px 33px rgba(0,0,0,0.7);
  h4{
    color: $bg-white;
    font-size: 1.8em;
    font-family: 'bebas_neuebook';
  }
  strong{
    display: block;
    font-family: 'bebasregular';
  }
  button{
    margin-top: 30px;
  }
}
