.user-enter-head{
  display: flex;
  align-items: center;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  li{
    font-size: 1.8em;
    font-family: 'bebas_neuebook';
    text-align: center;
    flex: 1;
    padding: 20px 0 40px;
    &.active{
      background: $sign-in-bg;
      border-radius: 10px 10px 0 0;
      &:first-of-type{
        box-shadow: 8px -2px 12px rgba(0,0,0,0.6);
      }
      &:last-of-type{
        box-shadow: -6px -2px 12px rgba(0,0,0,0.6);
      }
    }
    a{
      color: $sign-in;
    }
    &.active{
      a{
        color: $sign-in-active;
        font-family: 'bebas_neuebold';
      }
    }
  }
}

.user-rel-data{
  margin-top: -30px;
  background: $sign-in-bg;
  border-radius: 0px 10px 10px 10px;
  padding: 40px 20px 30px 20px;
  box-shadow: 0px -1px 26px rgba(0,0,0,0.6);
  position: relative;
  &:before{
    border-radius: 10px 10px 0 0;
    content: "";
    position: absolute;
    z-index: 1;
    background: $sign-in-bg;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
  }
  > div{
    display: none;
    &.show-data{
      display: block;
    }
  }
}
.form-field{
  margin-bottom: 15px;
  label{
    display: block;
    color: $form-label;
    font-family: 'bebasregular';
    font-size: 1.4em;
    margin-bottom: 10px;
    word-spacing:4px;
  }
  input[type='text']{
    background: $form-field-bg-color;
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border:1px solid transparent;
    box-shadow: 0px 0px 0px rgba(126,101,153,0.0);
    transition: all .4s;
    color: $form-label;
    // font-family: 'bebas_neuelight';
    font-family: 'bebas_neuebold';
    font-size: 1.2em;
    cursor: pointer;
    &:focus{
      box-shadow: 5px 1px 15px rgba(126,101,153,0.4);
      border:1px solid rgba(126, 101, 153,.6);
      outline: none;
    }
  }
}
.country-code-cont{
  display: flex;
  input{
    &:first-of-type{
      margin-right: 10px;
      width: 60px;
    }
  }
}
.otp-btn-cont{
  text-align: right;
  margin: 15px 0;
}
.otp-btn{
  font-size: 1.2em;
  color: $otp-btn-color;
  border-radius: 24px;
  border:1px solid $otp-btn-color;
  background: transparent;
  text-transform: uppercase;
  padding: 15px 20px;
  line-height: 1;
  cursor: pointer;
  width: 120px;
  box-sizing: border-box;
  font-family: 'bebasregular';
}
.enter-btn{
  font-size: 1.2em;
  background: $next-color;
  color: $bg-white;
  border-radius: 24px;
  padding: 15px 20px;
  line-height: 1;
  cursor: pointer;
  width: 120px;
  box-sizing: border-box;
  font-family: 'bebasregular';
  border:none;
  align-self: center;
  &:focus{
    outline: none;
  }
}
.captach-align{
  display: flex;
  justify-content: space-between;
}
.captcha-cont{
  background: $form-field-bg-color;
  border-radius: 8px;
  padding: 30px 10px 10px 10px;
  flex: 1;
  margin-right: 15px;
  text-align: center;
  a{
    display: block;
    text-align: right;
  }
}
