
.cont-list-cont{
  .cont-list{
    border-left: 10px solid $contest-border;
    margin: 25px 0;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $list-box;
    box-shadow: 1px -1px 25px rgba(0,0,0,.6);
    > div {
      &:first-of-type{
        padding-right: 30px;
      }
      &:last-of-type{
        padding-left: 30px;
      }
    }
    span,
    strong{
      display: block;
      color: $bg-white;
      line-height: 1.1;
    }
    strong{
      font-size: 60px;
      font-family: 'bebas_neuebold';
    }
    span{
      font-size: 30px;
      font-family: 'bebas_neueregular';
    }
  }
}
