@import 'module/colors';
@import 'module/reset';
@import 'module/font-face';
@import 'module/header';
@import 'module/user-data';
@import 'module/contestent';
@import 'module/dream-team';
@import 'module/searched-player';

body{
  background: $bg-color;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'bebasregular', arial, halvetica;

}
.wrapper{
  // padding: 0 10px 15px;
  box-sizing: border-box;
}
.layout {
  max-width: 767px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
  position: relative;
}

.auto-complete-container{
  background: $suggestion-box-bg;
  font-size: 1.1em;
  position: relative;
  width: 100%;
  ul{
    color: $otp-btn-color;
    box-sizing: border-box;
    display: none;
    padding: 15px 15px 0;
    li{
      box-sizing: border-box;
      padding: 0 0 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      &:first-child{
        margin-top: 0;
      }
    }
  }
}
