*{margin: 0;padding: 0;}
html,
body,
.em-wrapper,
#bookpage { height: 100%;width: 100%;}
.page { height: 100%;max-width: 1244px;width: 100%;margin:0 auto;padding: 20px;background: brown;box-sizing: border-box;}
.page-side {height: 100%;}
.page { display: grid;grid-template-columns: repeat(2, 1fr); grid-gap: 20px;background: rgba(0,0,0,.6);}
img{height: 100%;}
/* .bookpage */
